@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header,
footer {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 20px;
  background-color: #520919;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

footer,
.push {
  height: 2em;
}
.wrapper {
  margin: 0 auto -2em;
  min-height: 100%;
}
form {
  width: inherit;
}
label {
  display: block;
  line-height: 1.5em;
  margin: 0.75em 0 0 0;
}
input {
  width: inherit;
  padding: 1em;
}

select{

}

.delete, button {
  color: white;
  background-color: #520919;
}
button {
  display: block;
  border: 0;
  padding: 1em;
  width: inherit;
  margin: 1.75em 0;
}
.icon {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.25em;
  fill: #004A55;
}
#bought-list li:before, #shopping-list li:before {
  content: "";
  display: inline-block;
  background-size: 100%;
  height: 0.9em;
  width: 1em;
  margin-right: 0.3em;
}
#shopping-list li:before {
  background-image: url("https://res.cloudinary.com/ddy54k4ks/image/upload/v1454106412/svg/checkmark2.svg");
}
#bought-list li:before {
  background-image: url("https://res.cloudinary.com/ddy54k4ks/image/upload/v1454106412/svg/checkmark.svg");
}
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
li {
  width: 50%;
  color: #004A55;
  padding: 0.75em;
  cursor: pointer;
  margin: 0.5em 0;
  border: 1px solid #004A55;
  position: relative;
  transition: background-color 0.2s;
}
li:hover {
  background-color: #A7CDCC;
}
.quantity {
  color: #f3a493;
}
.quantity:before {
  content: "(";
}
.quantity:after {
  content: ")";
}
.delete {
  float: right;
  padding: inherit;
  position: absolute;
  right: 0;
  top: 0;
}
.delete:after {
  clear: both;
}
#bought-list li {
  background-color: #f3a493;
  color: white;
  font-weight: bold;
}
#bought-list li .quantity {
  color: white;
}
.list__label {
  width: 75%;
  border-bottom: 2px solid #f3a493;
  font-size: 1.25em;
  font-weight: bold;
  color: #520919;
  padding: 0;
}
